<!doctype html>
<html lang="en" ng-app="LunchCheckApp">
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message_red { font-size: 1.3em; font-weight: bold; color: red}
      .message_green { font-size: 1.3em; font-weight: bold; color: green}
      .border_red {border: 1px solid red}
      .border_green {border: 1px solid green}
    </style>
  </head>
<body>
  <div ng-controller='LunchCheckController'>
   <div class="container">
     <h1>Lunch Checker</h1>
         <div class="form-group {{border_style}}">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="data">
         </div>
         <div>
           <p>This page does NOT consider any empty item, i.e., , ,.</p>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="displayMessage()">Check If Too Much</button>
         </div>
         <div class="form-group {{style}}">
          {{message}}
         </div>
   </div>
 </div>

</body>
</html>
